.delete-company-modal {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__text {
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 0;
  }

  &__error {
    color: #FF3B30;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
  }
}
